doctype 5
  html
    head

      title=title + '|' + post.title || ''
      link(rel='stylesheet', href='/css/oink.css')
      script(type='text/javascript', src='/js/oink.js')

    body

      header#header

        h1= title
        p.sub= subtitle

        include 'main-menu'

      block content

      // Footer section
      footer#footer
        p &copy; 2013. !{author}. Some rights reserved.
